.main-header {
    font-family: bebas;
    color: var(--header-font);
    /* color: black; */
    height: 65px;
    background-color: var(--header-bgc);
    margin-bottom: 80px;
}

.main-nav a {
    color: var(--header-font);
    font-family: bebas;
    text-decoration: none;
}

.main-nav {
    height: 100%;
    /* padding-inline-end: 24px; */
}

.main-nav .clean-list li:hover {
    background-color: #ee4f4f;
}