.meme-modal {
    position: fixed;
    z-index: 1;
    padding-top: 65px;
    left: 0;
    top: 0;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.meme-modal .modal-content {
    display: grid;
    justify-content: space-between;
    align-items: center;
    /* grid-template-rows: repeat(12, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    gap: 5px 5px;
}

.meme-modal .canvas-container {
    grid-row: 1 / span 12;
    grid-column: 1 /span 7;
    display: flex;
    justify-content: center;
    width: min-content;
    height: min-content;
    border: black solid 5px;
    position: relative;
}

.meme-modal .meme-text {
    grid-row: 1;
    grid-column: 8 /span 5;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.meme-modal .move-line-up {
    grid-row: 2;
    grid-column: 8;
}

.meme-modal .move-line-down {
    grid-row: 2;
    grid-column: 9;
}

.meme-modal .cycle-line {
    grid-row: 2;
    grid-column: 10;
}

.meme-modal .add-line {
    grid-row: 2;
    grid-column: 11;
}

.meme-modal .remove-line {
    grid-row: 2;
    grid-column: 12;
}

.meme-modal .restore {
    grid-row: 4;
    grid-column: 12;
}

.meme-modal .font-select {
    grid-row: 4;
    grid-column: 8 /span 2;
}

.meme-modal .font-size-up {
    grid-row: 3;
    grid-column: 8;
}

.meme-modal .font-size-down {
    grid-row: 3;
    grid-column: 9;
}

.meme-modal .ltr {
    grid-row: 3;
    grid-column: 10;
}

.meme-modal .center {
    grid-row: 3;
    grid-column: 11;
}

.meme-modal .rtl {
    grid-row: 3;
    grid-column: 12;
}

.meme-modal .font-color {
    grid-row: 4;
    grid-column: 10;
}

.meme-modal .stroke-color {
    grid-row: 4;
    grid-column: 11;
}

.meme-modal .download-btn {
    grid-row: 5;
    grid-column: 8;
}

.meme-modal .upload-btn {
    grid-row: 5;
    grid-column: 9;
}

.meme-modal .share-btn {
    grid-row: 5;
    grid-column: 10;
}

.meme-modal .close-modal-btn {
    grid-row: 5;
    grid-column: 12;
    background-color: var(--header-bgc);
    border-color: var(--header-bgc);
}

.meme-modal .close-modal-btn:hover {
    background-color: rgb(160, 13, 13);
}

.button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.button:hover {
    background-color: #f7fafa;
}

.button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}